{% extends 'apps/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h4>Author Details</h4>
  </div>
  <div class="book_details">
    {% for i in author_list %}
  <p> <span>Name :</span> {{i.first_name}} {{i.last_name}}</p>
  <p> <span>ID :</span> {{i.id}}</p>
  <p> <span>Notes :</span> {{i.notes}}</p>
  <p>  <span>Books :</span> </p>
  {% endfor %}
    <ul> 
  {% for i in books %}
    <li> {{i.book}} </li>
  {% endfor %}
  </ul> 
  </div>
</main>
{% endblock content %}