{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <!-- Bootstrap core CSS -->
    <link href="{% static 'apps/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'apps/css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'apps/css/custom.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'dashboard' %}">Book Store</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'dashboard' %}">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_books' %}">
              <span data-feather="file"></span>
              All Books
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_books' %}">
              <span data-feather="shopping-cart"></span>
              Add Book
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_authors' %}">
              <span data-feather="users"></span>
              All Authors
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_author' %}">
              <span data-feather="bar-chart-2"></span>
              Add Author
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'authorbook' %}">
              <span data-feather="bar-chart-2"></span>
              Author Book 
            </a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock content %}
  </div>
</div>

  </body>
</html>
